<a href="https://colab.research.google.com/github/jlsneto/cereja/blob/master/docs/cereja_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Install cereja

In [1]:
!pip install cereja

Collecting cereja
  Downloading https://files.pythonhosted.org/packages/26/62/c14c775e4a5da825843f006fcb18ac405e5d593a25bae1331af6f76cc37e/cereja-0.2.1-py3-none-any.whl
Installing collected packages: cereja
Successfully installed cereja-0.2.1

#The module Utils

In [0]:
from cereja import utils as cj

##Commons

###theta_angle
Calculates and returns theta angle between two vectors

In [5]:
u = (747,981)
v = (41, 426)
cj.common.theta_angle(u, v)

31.790657496433635

###is_iterable
return whether an object is iterable or not.

In [0]:
my_var = [1,2,3] # change value and execute the cell
cj.common.is_iterable(my_var)

True

###group_items_in_batches
responsible for grouping items in batch taking into account the quantity of items per batch

In [0]:
my_var = [1,2,3,4]
num_items_per_batch = 4
result = cj.common.group_items_in_batches(items=my_var, items_per_batch=num_items_per_batch)
print(f"items per batch with leftovers: {result}")

In [0]:
"""
Note that the last batch does not contain the same number as the previous batch,
this is due to the split split. You can choose to fill this void as in the example below.
"""
my_var = [1,2,3,4]
num_items_per_batch = 4

result = cj.common.group_items_in_batches(items=my_var, items_per_batch=3, fill="cereja")
print(f"fill values: {result}")

fill values: [[1, 2, 3], [4, 'cereja', 'cereja']]

In [0]:
# Other examples
result = cj.common.group_items_in_batches(items=['a','b','c','d'], items_per_batch=2)
print(f"Other examples: {result}")

Other examples: [['a', 'b'], ['c', 'd']]

###remove_duplicate_items
remove duplicates items in an item list or duplicate items list of list

In [0]:
#simple list
my_var = [1,2,3,4,4]
result = cj.common.remove_duplicate_items(my_var)
print(f"simple list: {my_var} --> {result}")

simple list: [1, 2, 3, 4, 4] --> [1, 2, 3, 4]

In [0]:
#list of list
my_var = [[1,2,3,4,4], [1,2,3,4,4]]
result = cj.common.remove_duplicate_items(my_var)
print(f"list of list: {my_var} --> {result}")

list of list: [[1, 2, 3, 4, 4], [1, 2, 3, 4, 4]] --> [[1, 2, 3, 4, 4]]

In [0]:
# other example
my_var = [['hi'], ['hi'], ['ih']]
result = cj.common.remove_duplicate_items(my_var)
print(f"other example: {my_var} --> {result}")

other example: [['hi'], ['hi'], ['ih']] --> [['hi'], ['ih']]

###Freq Class
Enumerates the amount of identical intens generating a dictionary of frequencies. Where KEY is item - the original list's item -  and VALUE is the total amount.

####instance of Freq

In [0]:
# Instance
freq = cj.common.Freq([1,2,3,3,4,5,6,7,6,7,12,31,123,5,3])
print(freq)

{3: 3, 5: 2, 6: 2, 7: 2, 1: 1, 2: 1, 4: 1, 12: 1, 31: 1, 123: 1}

####most_freq

returns the most frequent items from the list, the maximum number of items must be entered.

In [0]:
freq = cj.common.Freq([1,2,3,3,4,5,6,7,6,7,12,31,123,5,3])
freq.most_freq(4)

{3: 3, 5: 2, 6: 2, 7: 2}

####least_freq
When returning the least frequent items from the list, the maximum number of items must be entered.

##Decorators

###time_exec
used to signal or perform a particular function.

In [0]:
@cj.decorators.time_exec
def my_function(my_param): # Change-me
    print(my_param)

my_function("Hi Cereja")

Hi Cereja
[my_function] performed 0.0011606216430664062

##Path

###group_path_from_dir 
returns data tuples based on the number of items entered for each tuple,
follows the default order if no sort function is sent

In [0]:
"""
group_path_from_dir function ...

"""
my_dir = '/content/sample_data'
my_ext_file = '.csv'

cj.path.group_path_from_dir(dir_path=my_dir, num_items_on_tuple=2, ext_file=my_ext_file)

[['/content/sample_data/california_housing_test.csv',
  '/content/sample_data/california_housing_train.csv'],
 ['/content/sample_data/mnist_test.csv',
  '/content/sample_data/mnist_train_small.csv']]

###file_name

In [0]:
my_file_path = '/content/sample_data/california_housing_test.csv'
result = cj.path.file_name(file_path=my_file_path)
print(f"file_path: {my_file_path} --> {result}")

# or with ext
result = cj.path.file_name(file_path=my_file_path, with_ext=True)
print(f"file_path: {my_file_path} --> {result}")

file_path: /content/sample_data/california_housing_test.csv --> california_housing_test
file_path: /content/sample_data/california_housing_test.csv --> california_housing_test.csv